.muro {
    margin: 0 auto;
    
    padding: var(--space-12) 0;
    width: 100%;
    height: 100dvh;
    overflow-y: scroll;
    
    &__container {
        max-width: var(--max-width-container);
        width: 95%;
        margin: 0 auto;
    }

    &__posts {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
    }
}