@use "@/app/_breakpoints" as bp;

.login {
    width: 100vw;
    height: 100vh;
    padding: 0 var(--space-24);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: transparent;
        padding: var(--space-4);
        z-index: 1000;
    }

    /* &__content {
        display: flex;
        justify-content: flex-start;
        gap: var(--space-6);
    } */

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--space-6);
        max-width: 400px;

        &__title {
            font-size: var(--font-size-2xl);
            line-height: var(--line-height-tight);
            @include bp.respond-to(md) {
                font-size: var(--font-size-lg);
            }
        }
        
        &__forms {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--space-4);
        }
    }


    &__wannaSphere {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: 1000;
       pointer-events: none;
    }
}