.uploadPost {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-small);
    padding: var(--space-4);

    &__form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--space-4);

        &__image {
            width: 100%;
            aspect-ratio: var(--aspect-ratio);
            background-color: var(--color-gray-light);
            border-radius: var(--border-radius-small);
            padding: var(--space-4);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            cursor: pointer;

            &__placeholder {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: var(--space-2);
                &__text {
                    color: var(--color-gray-dark);
                    font-size: var(--font-size-sm);
                }
            }
        }

        &__item {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--space-2);

            &__title {
                font-size: var(--font-size-sm);
                color: var(--color-gray-dark);
            }

            &__textarea {
                width: 100%;
                padding: var(--space-2);
                border: none;
                border-radius: var(--border-radius-super-small);
                background-color: var(--color-gray-light);
                min-height: initial;
                &::placeholder {
                    color: var(--color-gray);
                    padding-left: var(--space-1);
                }
                &__description {
                    min-height: 130px;
                }
            }
        }

    }

}