@use "@/app/_breakpoints" as bp;
.questionCard {
    max-width: var(--max-width-container);
    width: 100%;
    margin: 0 auto;

    // background-color: var(--color-gray-light);
    
    
    /* height: 100dvh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &__container {
        padding: var(--space-4);
        border-radius: var(--border-radius-small);
        background-color: rgb(from var(--color-gray-light) r g b / 0);
        transition: background-color 0.3s ease;

        &:hover {
            /* background-color: var(--color-gray-light); */
            background-color: rgb(from var(--color-gray-light) r g b / 0.5);
        }
    }


    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: var(--space-4);
        width: 100%;        
        
        &__username {
            text-decoration: none;
            color: var(--color-black);
            display: flex;
            justify-content: flex-start;
            gap: var(--space-2);
            align-items: center;
            border-radius: var(--border-radius);
            padding: var(--space-2) 0;
            transition: all 0.3s ease;
            &:hover {
                padding: var(--space-2) var(--space-4);
                background-color: var(--color-white);
            }
            @include bp.respond-to(md) {
                flex-direction: column;
                align-items: flex-start;
            }
            &__content {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--space-6);
                @include bp.respond-to(md) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: var(--space-2);
                }
                &__name {
                    &__community {
                        font-size: var(--font-size-xl);
                    }
                }
            }
        }

        &__avatar {
            width: 43px;
            height: 43px;
            border-radius: 50%;
            background-color: var(--color-gray-dark);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &__createdAt {
            font-size: var(--font-size-sm);
            color: var(--color-gray-dark);
        }

        &__actions {
            position: relative;
            &__icon {
                padding: var(--space-4) !important;
                border-radius: var(--border-radius);
                height: auto;
                &:hover {
                    background-color: var(--color-white);
                }
            }

            &__modal {
                position: absolute;
                top: calc(100% + var(--space-2));
                right: 0;
                background-color: var(--color-white);
                border-radius: var(--border-radius-small);
                border: 1px solid var(--color-gray);
                padding: var(--space-4) var(--space-6);
                display: flex;
                flex-direction: row;
                gap: var(--space-2);
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__content {

        display: flex;
        flex-direction: column;
        /* text-align: center; */
        gap: var(--space-4);
        margin-bottom: var(--space-4);
        
        &__text {
            font-size: var(--font-size-2xl);
            font-family: var(--font-diatype-bold-trial);
        }
    }
}