.chat {
    padding: var(--space-12) 0;
    width: 100%;
    height: 100dvh;
    margin: 0 auto;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}