.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-4);
    
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--space-2);
    }
    
    &__signin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--space-2);
    }

    &__label {
        width: 100% !important;
    }
}
