@use "@/app/_breakpoints" as bp;
.publish {
  position: fixed;
  right: var(--space-4);
  top: var(--space-4);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-2);

  &__button {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: var(--space-2);
    transition: all 0.3s ease;

    p {
      @include bp.respond-to(md) {
        display: none;
      }
    }

    &:hover {
        gap: var(--space-3);
    }

  }

  &__selector {
    position: relative;
    width: 273px;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    background-color: var(--color-white);
    border-radius: var(--border-radius-small);
    padding: var(--space-3) var(--space-4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    &__button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--space-2);
      width: 100% !important;
      padding: var(--space-2) var(--space-3) !important;
      border-radius: var(--border-radius-small);
      border: none;
      outline: none;

      &:hover {
        background-color: var(--color-gray-light);
      }
    }
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(5%);
  }
  to {
    transform: translateY(0);
  }
}