.sidebar {
    width: 520px;
    height: 100vh;
    border-left: 1px solid var(--color-divider);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-4);
    transition: width 0.3s ease, padding 0.3s ease;

    &__collapse {
        width: 0;
        padding: 0;
        overflow: hidden;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--space-4);

        &__title {
            &__text {
                font-size: var(--font-size-md);
                color: var(--color-gray-dark);
            }
        }

        &__close {
            &__button {
                cursor: pointer;
            }
        }
    }
}