.perfil {
    max-width: var(--max-width-container);
    margin: 0 auto;

    padding: var(--space-12) 0;

    width: 100%;
    height: 100dvh;
    overflow-y: scroll;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-4);
    }

    &__avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: var(--color-gray-dark);
    }

    &__posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--space-4);
    }

    &__post {
        background-color: var(--color-gray-light);
        padding: var(--space-4);
        border-radius: var(--border-radius-small);
    }
}