.presentation {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__image {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 382px;
        height: 382px;
        object-fit: cover;
        object-position: center;
    }
}

.card {
    width: 100%;
    max-width: var(--max-width-container-sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-4);
    
    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--space-6);

        &__title {
            font-size: var(--font-size-xl);
            line-height: var(--line-height-tight);
            font-weight: 400;
            text-align: center;
        }

        &__inputs {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: var(--space-2);
        }

        &__textarea {
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--space-2);
            
            &__content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: var(--space-2);
            }
        }
    }

    &__button {
        width: 44px;
        height: 44px;
        background-color: var(--color-black);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}